@font-face {
    font-family: 'Geo';
    src: url('Geo-Regular.ttf') format('truetype');
    font-weight: normal;
    font-style: normal;
}

@font-face {
    font-family: 'Geo';
    src: url('Geo-Italic.ttf') format('truetype');
    font-weight: normal;
    font-style: italic;
}