@import url('../assets/fonts/Geo/geo.css');
.pageContainer {
    background-color: #2D4059;
    display: flex;
    flex-direction: row;
    width: 100%;
    flex-grow: 1;
}
.pageContainer > *:not(.fondo-animado) {
    /*busca todos los elementos que sean hijos directos de .pageContainer, EXCEPTO el que tenga la clase .fondoError*/
    z-index: 1;
}
@keyframes errorBack {
    0% {
        background-color: #ff4d4d; 
    }
    100% {
        background-color: #2d4059;
    }
}

.fondoError {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    z-index: 0; /* Se queda atrás de todo */
    background-color: #2D4059;
}

.fondoError.error {
    animation: errorBack 1s ease-out forwards;
}

@keyframes errorBack {
    0% { background-color: #ff4d4d; }
    100% { background-color: #2D4059; }
}

.navBarContainer{
    background-color: #FFD460;
    font-size: 32px;
    color: #EA5455;
    width: 20%;

    display: flex;
    flex-direction: column;
    gap: 20px;
}
.mainContainer{
        flex-grow: 1;
    justify-content: center;
    display: flex;
    flex-direction: column;
    font-family: 'Geo';
    align-items: center;
}
.gameHeader{
    display: flex;
    align-items: center;
    justify-content: space-evenly;
    width: 100%;
    margin: 20px;
    font-size: 32px;
}
.timerHeader {
    display: flex;
    justify-content: center;
    align-items: center;
}
.gameContainer{
    flex-grow: 1;
    justify-content: center;
    display: flex;
    flex-direction: column;
    font-family: 'Geo';
    align-items: center;
    width: 100%;
}
.inputPalabra{
    border: 0;
    outline: 0;
    padding: '0';
    width: 20ch;
    font-family: 'Geo';
    font-size: 32px;
    background-color: transparent;
    padding: 0;
}
.inputLine{
    border-bottom: 3px solid #9ca3af;
}

.botonSubmit {
  background-color: #495DF9;
  color: #ffffff;
  font-family: 'Geo'; 
  font-size: 18px;
  font-weight: 600;
  
  padding: 12px 20px;
  border: none;
  border-radius: 4px;
  cursor: pointer;

}
.botonSubmit:hover {
  background-color: #3546D6; 
}
/*
.botonSubmit:disabled {
  background-color: #a5b4fc;
  cursor: not-allowed;
  transform: none;
  box-shadow: none;
}
*/

.palabrasRepetidasContainer{
    width: 80%;
    font-family: 'Geo';
    font-size: 1.5em;

    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;

}
.palabrasRepetidasList{
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;

    justify-content: center;
}
.gameMain{
    display: flex;
    flex-direction: row;
    justify-content: center;
    font-size: 32px;
    align-items: center;

}

.titleTextContainer{
    height: 15%;
    display: flex;
    align-items: center;
    justify-content: center;
}
.titleText {
    font-size: 3em;
    padding: 15px;
}

.textSize{
    max-width: 30ch;
    overflow: hidden;
    text-overflow: ellipsis;
    white-space: nowrap;
}

.puntajeNum{
    font-size: 80px;
}

.palabraMarcada {
    color: white;
    text-decoration: underline 1px white;
}
.palabraSingular {
    display: flex;
}